@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Fasthand&family=Gugi&family=Manjari:wght@100;400;700&family=Nunito:wght@200;300;400;500;600;700&family=Orbitron&family=Turret+Road:wght@400;700&display=swap';
@import 'fonts/material-symbols/material-symbols.css';
@import 'fonts/bootstrap-icons/bootstrap-icons.min.css';

/*
font-family: 'Comfortaa', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Gugi', cursive;
font-family: 'Manjari', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Turret Road', cursive;
*/