@import 'fonts.css';
@import 'components.css';

body {
	background: #000;
	font-family: 'Comfortaa', cursive;
	color: #EEE;
	overflow: hidden;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	font-size: 16px;
}
