/* Number increase/decrease animation */

@property --value {
	syntax: '<integer>';
	initial-value: 0;
	inherits: false;
}

.int {
	counter-reset: value var(--value);
	transition: --value 1.5s;
}

section:not(.current) .int {
	--value: 0 !important;
	transition: --value 0s 1s;
}

.int::after {
	content: counter(value);
}
