/* Fancy switching text */

.switching-twoline {
	margin: 0 auto;
}

.switching {
	font-weight: bold;
	font-size: 96px;
	margin: 4px;
	overflow: hidden;
}

.switching * {
	margin: 0;
}

.switching p {
	overflow: hidden;
	line-height: 1;
	padding: 8px 0;
	position: absolute;
	white-space: pre;
}

.switching b {
	white-space: pre;
	display: inline-block;
	transition: transform .8s, opacity .5s;
}

.switching b.top {
	opacity: 0;
	transform: translateY(-200%);
}

.switching b.bottom {
	opacity: 0;
	transform: translateY(200%);
}

@media (max-width: 840px) {
	.switching {
		font-size: 72px;
	}
}

@media (max-width: 540px) {
	.switching {
		font-size: 54px;
	}
}

@media (max-width: 440px) {
	.switching {
		font-size: 48px;
	}
}
