@import 'about.css';
@import 'contact.css';
@import 'skills.css';

#main span > * {
	margin: 0 20px;
}

#main h1 {
	margin-left: 24px;
}

@media (max-width: 540px) {
	#main h1 {
		font-size: 18px;
	}
}
