/* Skills */

.skills {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 0;
	margin-bottom: 20px;
}

.skills div {
	flex: 1;
	margin: 8px 12px;
	min-width: 240px;
}

.skills div b {
	display: flex;
	align-items: center;
}

.skills div p {
	height: 8px;
	background: #8886;
	border-radius: 8px;
	position: relative;
}

.skills div p::before {
	content: " ";
	border-radius: 8px;
	position: absolute;
	background: var(--color);
	top: 0;
	height: 100%;
	width: var(--width);
}

.skills u {
	background: var(--color);
	padding: 6px 8px 5px;
	border-radius: 32px;
	margin: 4px;
	color: #333;
	font-size: 12px;
}

.hardware-card {
	display: flex;
	align-items: center;
	flex: 1 1 0;
	flex-wrap: wrap;
	text-align: center;
	padding: 4px 0;
}

.hardware-card b {
	max-width: 400px;
	min-width: 240px;
	flex: 1;
	padding: 20px 24px;
	display: flex;
	align-items: center;
	text-align: left;
}

.hardware-card i {
	color: var(--color);
	text-shadow: 0 0 72px var(--color);
	font-size: 48px;
	margin-right: 16px;
}

.hardware-card p {
	font-size: 16px;
}

.hardware-card s {
	margin: 2px 0;
	opacity: .5;
}
